<div class="card text-bg-dark">
    <img src="/assets/img/JillDeVries.jpeg" class="card-img" alt=""  width="100" height="500">
    <div class="card-img-overlay" style="padding-left: 500px; padding-top: 150px; " >
        <div class="card" style="max-width: 30rem; height: 200px; background-color: rgba(255, 255, 255, 0.693) ;" >
            <div class="card-body">
              <h3 class="card-title" align ="center"><strong>Improve your skills on your own
                To prepare for a better future</strong>
                <button class="button button4">REGISTER NOW</button>
            </h3>
               
            </div>
          </div>
    </div>
</div>
<br>
<div class="container">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <br>
                <h2><strong>Discover Our Courses</strong></h2>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <button class="button button4">View More</button>
            </div>   
        </div>

    </div>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          
            <img src="/assets/img/spring boot angular.png" class="card-img-top" alt="..." width="100" height="250">
            <div class="card-body">
              <br>
              <h5 class="card-title" align ="center"><strong>Spring Boot / Angular</strong></h5>
              <br>
              <h5  align ="center" style="color:#aa0476 ;">350 DT/ Month</h5>
            </div>
          
        </div>
        <div class="col">
          
            <img src="/assets/img/node js react js.png" class="card-img-top" alt="..." width="100" height="250">
            <div class="card-body">
              <br>
              <h5 class="card-title" align ="center"><strong>Node JS / React</strong></h5>
              <br>
              <h5  align ="center" style="color:#aa0476 ;">350 DT/ Month</h5>
            </div>
          
        </div>
        <div class="col">
          
            <img src="/assets/img/flutter firebase.png" class="card-img-top" alt="..." width="100" height="250">
            <div class="card-body">
              <br>
              <h5 class="card-title" align ="center"><strong>Flutter / Firebase</strong></h5>
              <br>
              <h5  align ="center" style="color:#aa0476 ;">350 DT/ Month</h5>
            </div>
          
        </div>
        <div class="col">
          
            <img src="/assets/img/BI.png" class="card-img-top" alt="..." width="100" height="250">
            <div class="card-body">
                <br>
              <h5 class="card-title" align ="center"><strong>Business Intelligence</strong></h5>
              <br>
              <h5  align ="center" style="color:#aa0476 ;">350 DT/ Month</h5>
            </div>
        
        </div>
        <div class="col">
            
              <img src="/assets/img/ia.png" class="card-img-top" alt="..." width="100" height="250">
              <div class="card-body">
                <br>
                <h5 class="card-title" align ="center"><strong>Artificial Intelligence</strong></h5>
                <br>
                <h5  align ="center" style="color:#aa0476 ;">350 DT/ Month</h5>
              </div>
        
        </div>
        <div class="col">
            
              <img src="/assets/img/devops.png" class="card-img-top" alt="..." width="100" height="250">
              <div class="card-body">
                <br>
                <h5 class="card-title" align ="center"><strong>Devops</strong></h5>
                <br>
                <h5  align ="center" style="color:#aa0476 ;">350 DT/ Month</h5>
              </div>
        
        </div>

      </div>
      
</div>
