<div class="container">
    <h2 align="center">Add Product</h2>
    <form #myform="ngForm" (ngSubmit)="createProduct(myform)" style="width: 1000px;">
        <div class="form-group">
            <label for="providerName"><strong>Product Title</strong> </label>
    
            <input ngModel name="providerTitle" size="20" type="text" class="form-control" id="providerTitle" />
        </div>
        <div class="form-group">
            <label for="providerEmail"><strong>Product price</strong> </label>
    
            <input ngModel name="providerPrice" size="20" type="number" class="form-control" id="providerPrice" />
    
        </div>
        <div class="form-group">
            <label for="providerAdress"><strong>Product image</strong> </label>
    
            <input ngModel name="providerImage" size="20" type="text" class="form-control" id="providerImage" />
    
        </div>
      <!--  <div class="form-group">
            <label for="providerAdress"><strong>Upload image</strong> </label>
    
            <input class="form-control"  type="file" multiple value="select" #selectFile (change)="onImageSelected($event)" >
    
        </div>-->
        <br>
        <button class="btn btn-primary" type="submit" >Add </button>
        
    </form>
</div>


